@import '../scss/_variables.scss';
@import '../scss/_media.scss';
.check{
  background-color: #518cf721;
  border-radius:10px;
}
.chat {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  // .chat__header
  &__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $text-dark;
    padding: 5px 0;
      // .chat__header-text
    &-text {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0 10px;
    font-size: 1.2rem;
    color:rgb(110, 110, 110)
  }
  }


  // .chat__window
  &__window {
    margin: 10px 0;
    height: 600px;
    overflow: auto;
    border-radius: 10px;
    padding: 10px 5px;
    @include _480{
      height:calc(100vh - 198px);
    }
  }

  // .chat__input
  &__input {
    input {
      width: 100%;
      border: 1px solid;
    }
  }
}


.mess {

  // .mess__item
  &__item {
    display: flex;
    align-items: center;
    transition: .5s;
    &_you{
      &.img {
        margin-right: 15px;
      }
    }
    &_me{
      flex-direction: row-reverse;
      &.img {
        margin-left: 15px;
      }
    }
  }
  // .mess__text
  &__text {
    padding: 15px 10px;
    border-radius: 10px;
    background-color: $bg-gray;
    margin: 5px 0;
    max-width: calc(50% - 20px);
    word-wrap: break-word;
    color:$text-dark;
    @include _480{
      max-width: 100%;
    }
  }
}

