@import '../scss/_variables.scss';
@import '../scss/_media.scss';

.message__last.check {
  background-color: #518cf721;
  border-radius: 5px;
  color: $text-dark;
}

.messages {
  // .messages__search
  &__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 15px 0;
    font-size: 1.4rem;
    input {
      border: none;
      background-color: transparent;
      font-size: 1.2rem;
      flex-grow: 1;
    }
  }
}

.message {
  // .message__link
  &__link {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  // .message__img
  &__img {
    margin-right: 20px;
 
  }
  // .message__last
  &__last {
    font-size: 1rem;
    color: $text-color;
  }
  // .message__info
  &__info {
    flex: 1 0;
    padding: 5px 0;
    border-bottom: 1px solid $text-color;
  }
  // .message__header
  &__header {
    font-size: 1.1rem;
    line-height: 1.4;
    display: flex;
    justify-content: space-between;
  }
    // .message__time
    &__time {
      font-size: 0.95rem;
      color: $text-color;
    }
    // .message__user
    &__user {
      display: flex;
      align-items: center;
      height: 32px;
    }
    &__text{
      text-overflow: ellipsis;
      max-width: 750px;
      white-space: nowrap;
      overflow: hidden;
      margin-left: 10px;
      @include _979{
        max-width: 550px;
      }
      @include _768{
        max-width: 450px;
      }
      @include _600{
        max-width: 300px;
      }
      @include _480{
        max-width: 200px;
      }
      @include _350{
        max-width: 150px;
      }
    }
}
