
// #225b95
$blue:#5062FE;
$blue-light:#00cfff;
$line-gradient-blue:linear-gradient(to right, $blue, $blue-light);
$line-gradient-light:linear-gradient(113.32deg, #00CFFF 4.95%, #5EE0FE 92.69%);
$text-color:#7F8083;
$bg-gray:#f9f9f9;
$text-dark:#6f6f6f;
$title:#717171;
$default:#9e9e9e;
$dark:#333333;
$red:#EF4747

